/* styles for rocket-chat online */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body > div > div.title
div.livechat-room .title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;
}
div.livechat-room .title { 
    padding: 0 26px 0 39px;
    border-radius: 23px;
    flex: 1 0 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
div.livechat-room .header .picture {
    padding: 0;
}
div.livechat-room .header .picture img{
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

div.livechat-room .header {
    flex: 1 0 72px;
    padding: 13px 30px;
    box-shadow: unset;
}
div.livechat-room .header .info li {

}
div.livechat-room .header .info li:nth-child(2){
    display: none;
}

div.livechat-room .header .info h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
    color: #525252;
}
div.livechat-room .header .info {
    display: flex;
    align-items: center;
}
div.livechat-room .header {
    border-bottom: 1px solid #D9E6FF;
}
div.livechat-room .messages .wrapper .message .thumb {
    display: none;
}
div.livechat-room .messages .wrapper .message .content {
    margin-left: 0;
}
div.livechat-room .messages .wrapper .message.new-day:before {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    text-align: center;

    color: #BDBDBD;
}
div.livechat-room .messages .wrapper .message.new-day .content:after {
    display: none;
}
div.livechat-room .messages .wrapper .message.own .content {
    background: #62A9FC;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: 12px;
}
div.livechat-room .messages .wrapper .message .content {
    background-color: #EDF3FF;
    border: none;
    padding: 13px 10px 10px 21px;
    background: #EDF3FF;
    border-bottom-left-radius: unset;
    border-radius: 12px;
}
div.livechat-room .messages .wrapper .message .user,
div.livechat-room .messages .wrapper .message .body {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 12px;

    color: #525252;
    margin-bottom: 16px;
}
div.livechat-room .messages .wrapper .message[data-username*="guest-"] .user,
div.livechat-room .messages .wrapper .message[data-username*="guest-"] .body {
    color: #FFFFFF;
}
div.livechat-room .messages .wrapper .message.own .content:before, 
div.livechat-room .messages .wrapper .message .content:before {
    display: none;
}

div.livechat-room .messages .wrapper .message .info {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    font-size: 10px;

    color: #636363;
}
div.livechat-room .footer .message-bar .input-wrapper textarea {
    height: 50px;
}
div.livechat-room .title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 18px;

    color: #FFFFFF;
}